{% extends 'base.html.twig' %}
{% block body %}
	{% for message in app.flashes('success') %}
	    <div class="alert alert-notice">
	        {{ message }}
	    </div>
	{% endfor %}
	<h2>Mes évènements - {{ ues[0].utilisateur.prenom }} </h2>
	<br>

	<table class="table">
		<thead class="thead-dark">
	    <tr>
	      <th scope="col">Date</th>
	      <th scope="col">Heure</th>
	      <th scope="col">Spectacle</th>
	      <th scope="col">Lieu</th>
	      <th scope="col">Disponibilité</th>	      
	      <th scope="col">Commandes</th>
	    </tr>
		</thead>
		<tbody>

		{% for ue in ues %}
			<tr>
			    <td>{{ ue.evenement.date|date("d/m/Y") }}</td>
			    <td>{{ ue.evenement.date|date("H:i") }}</td>
		    	<td>{{ ue.evenement.nom }}</td>
			    <td>{{ ue.evenement.lieu }} </td>
			    <td>{{ue.disponibilite}} </td>			    
			    <td>
					<a href="{{path('theatre_utilisateur_edit', {'id': ue.id})}}" class="btn btn-warning">Modifier</a>
					<a href="{{path('theatre_event_user_delete', {'id': ue.id})}}" class="btn btn-danger">Supprimer</a>
				</td>
	   		</tr>

		{% endfor %}

		</tbody>
	</table>

	<hr>

	<a href="{{path('theatre_event_list')}}" class="btn btn-info">Participer à un autre évènement</a>

{% endblock %}
