{% extends 'base.html.twig' %}
{% block body %}
<h2>Liste des Evenements </h2>
	<br>

	<table class="table">
		<thead class="thead-dark">
	    <tr>
	      <th scope="col">Date</th>

	      <th scope="col">Spectacle</th>
	      <th scope="col">Lieu</th>	      
	      <th scope="col">Commandes</th>
	    </tr>
		</thead>
		<tbody>

		{% for evenement in listEvent %}
			<tr>
			    <td>{{ evenement.date|date("d-m-Y") }}</br>{{ evenement.date|date("H:i") }}</td>
		    	<td>{{ evenement.nom }}</td>
			    <td>{{ evenement.lieu }} </td>	
                <td>{{utilisateur.userId}}
                    <a href="{{path('theatre_participate_event', {'id_utilisateur': utilisateur.userId,'id_evenement': evenement.id }) }}" class="btn btn-warning">
                    	Participer
                	</a>
                </td>	    
	   		</tr>

		{% endfor %}

		</tbody>
	</table>
{% endblock %}